@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

body {
    font-family: "Montserrat", sans-serif;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

b {
    color: #000c;
    font-weight: 600;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4{
    font-size: 18px;
    color: #000a;
    text-shadow: 0px 3px 15px #0005;
}

hr {
    margin: 30px 0 20px;
    width: 100%;
}

pre {
    position: relative;
    padding: 0px 20px 0px 0px;
    box-shadow: 0px 0px 5px #0002;
    border-radius: 8px;
    min-width: 65%;
    max-width: fit-content;
    color: #000000c6;
}

#runCode {
    position: absolute;
    margin: 5px;
    background-color: #0001;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
    top: 0;
    right: 0;
}

#runCode:hover {
    background-color: #0002;
}

pre code.hljs {
    padding: 0;
}

.error {
    color: red;
}